<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>

    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About Us </h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, incidunt nulla totam recusandae at tempore nesciunt cum quam placeat, reprehenderit sapiente quaerat saepe blanditiis maiores officia? Impedit, quos minima? Nemo.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, incidunt nulla totam recusandae at tempore nesciunt cum quam placeat, reprehenderit sapiente quaerat saepe blanditiis maiores officia? Impedit, quos minima? Nemo.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, incidunt nulla totam recusandae at tempore nesciunt cum quam placeat, reprehenderit sapiente quaerat saepe blanditiis maiores officia? Impedit, quos minima? Nemo.</p>
    </div>

    <%- include('./partials/footer.ejs') %>

</body>
</html>